<!--**********************************
            Nav header start
        ***********************************-->


<div class="nav-header">
    <a href="~/Badhaaiya/Index" class="brand-logo">
        <svg class="logo-abbr" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="svg-logo-rect" width="50" height="50" rx="6" fill="#ff5fa0"></rect>
            <g>
                <!-- Left eye -->
                <circle cx="20" cy="18" r="3" fill="#ffffff"></circle>
                <!-- Right Eye -->
                <circle cx="20" cy="30" r="3" fill="#ffffff"></circle>
                <text x="30" y="30" fill="#ffffff">)</text>
            </g>
            <!--<path d="M100,160 Q128,190 156,160" fill="none" stroke="#ffffff" stroke-width="3" />-->
            <!--<path class="svg-logo-path" d="M17.5158 25.8619L19.8088 25.2475L14.8746 11.1774C14.5189 9.84988 15.8701 9.0998 16.8205 9.75055L33.0924 22.2055C33.7045 22.5589 33.8512 24.0717 32.6444 24.3951L30.3514 25.0095L35.2856 39.0796C35.6973 40.1334 34.4431 41.2455 33.3397 40.5064L17.0678 28.0515C16.2057 27.2477 16.5504 26.1205 17.5158 25.8619ZM18.685 14.2955L22.2224 24.6007L29.4633 22.6605L18.685 14.2955ZM31.4751 35.9615L27.8171 25.6886L20.5762 27.6288L31.4751 35.9615Z" fill="white"/>-->
        </svg>
        <img class="brand-title" src="~/images/logo.png" alt="">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<!--**********************************
    Nav header end
***********************************-->
<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <div class="main-profile">
            <div class="image-bx">
                @*<img src="images/avatar/1.png" alt="">
            <img src="~/images/avatar/1.jpg" />*@
                <img src="@Url.Content("~/images/avatar/1.png")" alt="">
            </div>
            @{
                var userName = Session["UserName"] as string;
                var userEmail = Session["UserEmail"] as string;
            }

        <h5 class="name"><span class="font-w400">Hello,</span> @userName!</h5>
            <p class="email">@userEmail</p>
        </div>
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a class="ai-icon" href="~/Badhaaiya/Index" aria-expanded="false">
                    <i class="flaticon-144-layout"></i>
                    <span class="nav-text">Dashboard</span>
                </a>

            </li>

            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-bookmark-1"></i>
                    <span class="nav-text">Bookings</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/Badhaaiya/Addofflinebooking">Add Offline Bookings</a></li>
                    <li><a href="~/Badhaaiya/ViewAllbooking">View All Bookings</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-inr"></i>
                    <span class="nav-text">Transactions</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/Badhaaiya/ViewTransaction">View All Transactions</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-144-layout"></i>
                    <span class="nav-text">Availability</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/Badhaaiya/ManageAvailability">Manage Availability</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notebook-5"></i>
                    <span class="nav-text">Services</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/Badhaaiya/Serving">Add Services</a></li>
                    <li><a href="~/Badhaaiya/ViewService">View Services</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="widget-basic.html" aria-expanded="false">
                    <i class="flaticon-381-user-4"></i>
                    <span class="nav-text">My Profile</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/Badhaaiya/profile">View Profile</a></li>
                    <li><a href="~/Badhaaiya/BankAccount">My Bank Account</a></li>
                    <li><a href="~/Badhaaiya/ViewAgreement">View Agreements</a></li>
                    <li><a href="~/Badhaaiya/ViewProfileImg">View Profile Images</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-059-log-out"></i>
                    <span class="nav-text">Logout</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void()"  id="logout">Logout From This Device</a></li>
                    <li><a href="javascript:void()" id="logoutall" >Logout From All Devices</a></li>
                    
                </ul>
            </li>

            <li class="nav-label">Communicate</li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-136-phone-call"></i>
                    <span class="nav-text">Contact Us</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-building-o"></i>
                    <span class="nav-text">About Us</span>
                </a>
            </li>

        </ul>
    </div>
</div>


@RenderBody()
<script src="~/js/profile.js"></script>
<!--**********************************
    Sidebar end
***********************************-->
